{% extends "base.html" %}

{% load static from staticfiles %}

{% block body %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


    <video  class ="img-responsive" controls>
    <source src='{{MEDIA_URL}}{{ post.video.url }}'>
    </video>

    <br />



    <div class="star-rating" class= "centered" >
			<input id="star-5"  onclick="postRating({{post.id}},5)"type="radio" name="rating" value="star-5">
			<label for="star-5" title="5 stars">
					<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-4" onclick="postRating({{post.id}},4)" type="radio" name="rating" value="star-4">
			<label for="star-4" title="4 stars">
					<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-3" onclick="postRating({{post.id}},3)" type="radio" name="rating" value="star-3">
			<label for="star-3" title="3 stars">
					<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-2" onclick="postRating({{post.id}},2)" type="radio" name="rating" value="star-2">
			<label for="star-2" title="2 stars">
					<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-1"  onclick="postRating({{post.id}},1)" type="radio" name="rating" value="star-1">
			<label for="star-1" title="1 star">
					<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
		</div>


     <br />


     <div class="panel panel-default">
             <div class="panel-heading">
                <h1>{{post.title}}</h1>
                 <div class="btn-group" style="float:right;">
                 	<ul class="dropdown-menu">
                 		<li role="separator" class="divider"></li>
                 		<li><a href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</a></li>
                 	</ul>
                 </div>
                 <div class="clearfix"></div>
             </div>
             <div class="panel-body">
                 <div class="media">
                     <div class="media-left">
                         <a href="#">
                             <img class="media-object" src="{{post.image.url}}" >
                         </a>
                     </div>
                     <div class="media-body">
                     <h4 class="media-heading">                Created on   <time class="comment-date" datetime="16-12-2014 01:05">{{post.created}}</time> <br /> <p>

                     </p>By:{{ post.user|linebreaksbr }} </p></h4>
                          {{post.description}}
                     <div class="clearfix"></div>

                    </div>
                 </div>
             </div>
         </div>
    </br>
         <div class="row">
  <div class="col-md-8">
    <h2>Comments</h2>
      <section class="comment-list">

     {% for comment in post.comments.all %}

        <!-- First Comment -->
        <article class="row">
          <div class="col-md-2 col-sm-2 hidden-xs">
            <figure class="thumbnail">
              <img class="img-commentp"  src="{% static 'images/default.jpg' %}"  />
            </figure>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="panel panel-default arrow left">
        <div class="panel-body">
          <div class = "comment-class">


                <header class="text-left">
                  <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{comment.created_date}}</time>
                </header>
                <div class="comment-post">

                     <p>
                        By: {{comment.creator}}
                     </p>
                     <br />
                  <p>
                  {{comment.text}}
                </p>
                </div>

              </div>
            </div>
            </div>
          </div>
        </article>
   <br />




     {% empty %}
         <p>No comments here yet :(</p>
     {% endfor %}

   </br>

   <a class="btn btn-dark" href="{% url 'animeweb:add_comment' pk=post.pk %}">
       <button type="button" class="btn btn-warning btn-lg">Add Comment</button>
   </a>


{% endblock %}
