*{

font-family: 'Chewy', cursive;
}
.list-group-item{
 border-radius: 25px;
 border-color:#584b4f;

}
.navbar-default {

  background-color: #584b4f;
   border-color:#584b4f;
  color: #efeae1;
  font-size: 20px;
font-family: 'Chewy', cursive;
}

nav .nav-brand > a { color: #ffd152 }

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #ffd152 !important; //or whatever you want
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.profile-img{
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
  padding:1px;
  border:1px solid #021a40;
  border-radius: 50%;
}

video {
  width:"100";
  height:"100";
  text-align: center;
  		margin: 0 auto;
  		display: block;
  border-radius:25px;

}



.friends-decor {

  color: white;
}


body{


color: #efdab9;
background-color: 	 #78b0a0;
font-size: 20px;
}

.w3-black,.w3-hover-black:hover{
    color: #fff!important;
    background-color: #white;
}

h1{

   font-weight:bold;
   font-size: 50px;
}

h2{

   font-weight:bold;
   font-size: 40px;
}

.login{
     font-weight:bold;
     font-size: 30px;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #ffd152;
    border-radius: 25px;
    font-family: 'Chewy', cursive;
    font-size:20px


}



.panel-primary>.panel-heading {

    border-color: #584b4f;
}




.form-control {

    background-color: rgb(250, 255, 189);

}
.panel-body {
background: #78b0a0;
background-color: #78b0a0;
border-color:  green;
border-radius: 25px;
}




.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
color:white;
background-color:#556B2F;
border-color:#556B2F;
border-radius: 25px;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -500;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}




div.gallery {
  height: auto;
width: 150px;
float: left;
padding-left: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #333333;
padding-top: 20px;
padding-right: 20px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    teimxt-align: center;
}

.media-object {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
    background-color: #584b4f;
    border-radius: 25px;
}

.comment-list{
  border-radius: 25px;
}
.comment-class{

  background-color: #ffd152;;
  font-size: 20px;
  border-radius: 20px;
  color:white;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

media-heading {
    margin: 0 0 5px;
    font-family: 'Chewy', cursive;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #584b4f;
    border: 1px solid  #78b0a07;
    border-color: black;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px #584b4f;
    box-shadow: inset 0 1px 1px  #78b0a0;
    border-radius: 25px;
padding: 20px;
}

section, summary {
    display: block;

    background-color: #584b4f;
    border-color:  #584b4f;
    border-radius: 25px;
}

.comment-post{
  border-radius: 25px;
}

---- class for friends list
.list-content{
 min-height:300px;
}
.list-content .list-group .title{
  background: #green;
  border:2px solid  #78b0a0;
  font-weight:bold;
  color: #78b0a0;
}
.list-group-item img {
    height:80px;
    width:80px;
    border: black;

}
.w3-pale-yellow, .w3-hover-pale-yellow:hover{
 border-radius: 25px;
 background: white;

}
 img{

border-radius: 25px;

}

.list-group-item {
  background-color: #78b0a0;
  border-color: black;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}
.prj-name {
    color: white;
}
.break{
    width:100%;
    margin:20px;
    color: #78b0a0;
}
.name {
    color: white;
}

.img-thumbnail{
background-color: white;
border-radius: 25px;
}

--- responsive video
.MakaleYazariAdi{
    line-height:34px;
}

#BegeniButonlari{
    float:right;
    margin-top:15px;
}




----comments section---


.img-commentp {

}

.thumbnail, img {
    /* display: block; */
    width: 100px;
    height: auto;
    border-color: white;
    border-radius: 25px;
}

section{
    padding:60px 0px;
    font-family:'Chewy', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chewy', cursive;
}

.ion-minus{
    padding:0px 10px;
}

#blog{
	background-color: #78b0a0;
}

#blog .blog.column a{
	color: #78b0a0;
	text-decoration:none;
}

#blog img:hover {
	opacity:0.8;
}


---- stars rating
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}



.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}
