{% extends "base.html" %}

{% load static from staticfiles %}

{% load bootstrap3 %}

{% block body %}

  <title> Profile</title>
<div class ="container">
  <h1> Profile</h1>
  {% if user.userprofile.image %}
      <p> <img src="{{ user.userprofile.image.url }}" width="240" height="150" ></p>
   {% else %}
     <p> <img src="{% static 'images/default.jpg' %}"  width="240" height="150"> </p>
  {% endif %}
      <p>user {{user}}</p>
      <p>First Name:{{user.first_name}}</p>
      <p>Last Name:{{user.last_name}}</p>
      <p>City: {{ user.userprofile.email}}</p>
      <p>Email: {{user.userprofile.city}}</p>
      <p>Favorite Anime:  {{user.userprofile.favanime}}</p>
      <p>Bio: {{user.userprofile.bio}}<p>
</div>
{% endblock %}
