{% extends "base.html" %}

{% load static from staticfiles %}

{% load bootstrap3 %}

{% block body %}



<div class="row">
  <div class="col-sm-3">

    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile</h3>
  </div>
  <div class="panel-body">
    {% if user.userprofile.image %}
        <p> <img src="{{ user.userprofile.image.url }}" width="240" height="150" ></p>
     {% else %}
       <p> <img src="{% static 'images/default.jpg' %}"  width="240" height="150"> </p>
    {% endif %}

        <p>Username: {{user}}</p>
        <p>Name:{{user.userprofile.name}}</p>

        <p>City: {{ user.userprofile.email}}</p>
        <p>Email: {{user.userprofile.city}}</p>
        <p>Favorite Anime:  {{user.userprofile.favanime}}</p>
        <br />

  </div>
</div>




  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
            <div class="panel-heading">About Me</div>
            <div class="panel-body"> {{user.userprofile.bio}}</div>
    </div>
  </div>
  <div class="col-sm-3">

              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Friends</h3>
                  </div>
                  <div class="panel-body">
                    {% for friend in friends %}
                      <div class ="friends-decor">
                        <div class="list-group">
                            <a href="{% url 'accounts:view_profilepk' pk=friend.pk %}" class="list-group-item list-group-item-action active">{{ friend.username }}</a>
                        </div>
                      </div>

                      {% empty %}
                          <p>None</p>
                    {% endfor %}
                  </div>
              </div>




  </div>

</div>
</div>
</div>
{% endblock %}
